<form [formGroup]='form'>
  <div><label class='form'>Username : <input type='text' formControlName='username'></label></div>
  <span *ngIf="usernameError">{{usernameError}}</span>
  <div><label class='form'>Password : <input type='text' formControlName='password'></label></div>
  <div><label class='form'>ConfirmPassword : <input type='text' formControlName='confirmPassword'></label></div>
  <span *ngIf="form.errors">{{form.errors['notSame']}}</span>
  <button [disabled]='form.invalid' (click) = 'register()'>Register</button>
</form>

