<div>

  <form [formGroup]='form' >

    <div><label class='form'>Model : <input type="text" formControlName="model"></label></div>
    <div><label class='form'>Year : <input type="text" formControlName="year"></label></div>
    <div><label class='form'>Price : <input type="text" formControlName="price"></label></div>

    <button [disabled]='form.invalid' (click) = 'create()'>{{!carForUpdate? 'create': 'update'}}</button>

  </form>

  <div class='carsBox'>

    <div *ngFor='let car of cars' class='cars'>
      <div> {{car.id}}) {{car.model}}-{{car.year}}-{{car.price}}</div>

      <div>
         <button (click) = 'update(car)'>Update</button>
         <button (click) = 'delete(car.id)'>Delete</button>
      </div>
    </div>

  </div>

</div>
